.blackbox {
    display: contents;
}
.gtree {
    display: contents;
}
.bloc {
    display: contents;
}
font {
    color: antiquewhite;
}
.ascii {
    display: flex;
}
/* Iteration.css */

body {
    font-family: Arial, sans-serif;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
